<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
            name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=0">
    <meta name="description" content="Get your Go and Gopher stickers, shirts, and other swag">
    <meta name="keywords" content="golang go gopher swag stickers coding shirts">
    <meta name="author" content="Jon Calhoun">
    <meta charset="utf-8">
    <title>GopherSwag.com</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384—DN0HZ68U8hZfKX0rtjWvjxusGo9WQnrNx2sqG0tfsghAvtVLRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Sacramento"
          rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="bg-grey-lightest">
<div class="w-full border-b-4 border-orange-lighter bg-blue-darker mb-8 pb-2">
    <div class="container mx-auto py-6">
<h1 class="text-center font-google text-5xl font-normal">
    <span class="text-yellow-dark">Gopher</span>
    <span class="text-orange">Swag</span>
</h1>

<p class="font-google-cursive pt-4 text-4xl text-grey-lighter text-center">Bringing Gophers to the Physical
    World. </p>
</div>
</div>
<div class="container lg:w-2/3 mx-auto pt-2 px-4">
    <form id="onder-form" class="w-full" action="/campaigns/{f. Campaign. ID}} /orders/" method="post">
        <h3 class="text-grey-darker py-8">Who will we be receiving these sweet stickers?</h3>
        {{form_for OrderForm. Customer}}
        <div class="mb-6">
            <label class="block text-grey">
                <input class="mr-1 leading-tight" type="checkbox" name="mailing-list"
                       checked>
                <span class="text-sm">
            Notify me about other Go related products.
        </span>
            </label>
        </div>